<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">Login</div>
                    <div class="">
                        <form method="POST" action="{{ url_for('auth.login') }}">
                            {{ form.csrf_token }}
                            <div class="">
                                {{ form.username.label(class="form-label") }}
                                {{ form.username(class="form-control") }}
                                {% for error in form.username.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="">
                                {{ form.password.label(class="form-label") }}
                                {{ form.password(class="form-control") }}
                                {% for error in form.password.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="">
                                {{ form.remember_me(class="form-check-input") }}
                                {{ form.remember_me.label(class="form-check-label") }}
                            </div>
                            <div class="">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>