{% extends('admin/base.html') %}
{% block body %}
    <h2>Create New Article</h2>
    <form method="POST" action="{{ url_for('admin.create_article_view') }}">
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=60) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author_id.label }}<br>
            {{ form.author_id }}<br>
            {% for error in form.author_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content_md.label }}<br>
            {{ form.content_md(rows=20, cols=80) }}<br>
            {% for error in form.content_md.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.is_published.label }} {{ form.is_published }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}